absl-py
appnope
astor
attrs
autopep8
backcall
bleach
blessings
certifi
chardet
cycler
decorator
defusedxml
entrypoints
gast
gpustat
grpcio
h5py
idna
imageio
imageio-ffmpeg
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab
jupyterlab-server
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
mistune
mock
moviepy
nbconvert
nbformat
notebook
numpy
nvidia-ml-py3
opencv-contrib-python
opencv-python
pandocfilters
parso
pexpect
pickleshare
Pillow
pkg-resources
proglog
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pycodestyle
Pygments
pyparsing
pyrsistent
python-dateutil
PyYAML
pyzmq
requests
scikit-learn
scipy
Send2Trash
six
sklearn
tensorboard
tensorflow
tensorflow-estimator
tensorflow-gpu
termcolor
terminado
testpath
tornado
tqdm
traitlets
urllib3
wcwidth
webencodings
Werkzeug
zipp
